.pocounter {
  text-align: center;
  padding: 24px 16px;
  border-radius: 20px;
  background: #f5f2ed;
  box-shadow: 9px 9px 16px #d1cbc1, -9px -9px 16px #fefdfb;

  &__count {
    font-size: 3rem;
    font-weight: bold;
  }

  &__button--margin {
    margin-left: 1rem;
  }
}
