.toform {
  padding: 24px 16px;
  border-radius: 20px;
  background: #f5f2ed;
  box-shadow: 9px 9px 16px #d1cbc1, -9px -9px 16px #fefdfb;

  &__fieldset {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0;
    padding-top: 16px;
    border: none;
  }

  &__input {
    flex: 1 1 190px;
  }

  &__legend {
    font-size: 24px;
    font-weight: 500;
  }
}
